name: palacms-production

services:
  palacms:
    image: ${DOCKER_IMAGE}
    restart: always
    volumes:
      - palacms-data:/app/pb_data
    networks:
      traefik-public: null
    extra_hosts:
      - mail.pala.dev=host-gateway
    labels:
      - traefik.docker.network=traefik-public
      - traefik.enable=true
      - traefik.http.services.production-palacms.loadbalancer.server.port=8080
      - traefik.http.routers.production-palacms-http.entrypoints=http
      - traefik.http.routers.production-palacms-http.middlewares=https-redirect
      - traefik.http.routers.production-palacms-http.rule=Host(`palacms.com`) || Host(`marketplace.palacms.com`) || HostRegexp(`^.+\.palacms.site$`)

      - traefik.http.routers.production-palacms-https.entrypoints=https
      - traefik.http.routers.production-palacms-https.rule=Host(`palacms.com`)
      - traefik.http.routers.production-palacms-https.service=production-palacms
      - traefik.http.routers.production-palacms-https.tls=true
      - traefik.http.routers.production-palacms-https.tls.certresolver=palacms

      - traefik.http.routers.starter-palacms-https.entrypoints=https
      - traefik.http.routers.starter-palacms-https.rule=HostRegexp(`^.+\.palacms.site$`)
      - traefik.http.routers.starter-palacms-https.service=production-palacms
      - traefik.http.routers.starter-palacms-https.tls=true
      - traefik.http.routers.starter-palacms-https.tls.certresolver=palacms
      - traefik.http.routers.starter-palacms-https.tls.domains[0].main=palacms.site
      - traefik.http.routers.starter-palacms-https.tls.domains[0].sans=*.palacms.site
      - traefik.http.routers.starter-palacms-https.middlewares=starter-palacms-csp

      - traefik.http.routers.marketplace-palacms-https.entrypoints=https
      - traefik.http.routers.marketplace-palacms-https.rule=Host(`marketplace.palacms.com`)
      - traefik.http.routers.marketplace-palacms-https.tls=true
      - traefik.http.routers.marketplace-palacms-https.tls.certresolver=palacms
      - traefik.http.routers.marketplace-palacms-https.middlewares=marketplace-palacms-redirect

      - traefik.http.routers.marketplace-palacms-https-api.entrypoints=https
      - traefik.http.routers.marketplace-palacms-https-api.rule=Host(`marketplace.palacms.com`) && PathPrefix(`/api`)
      - traefik.http.routers.marketplace-palacms-https-api.service=production-palacms
      - traefik.http.routers.marketplace-palacms-https-api.tls=true
      - traefik.http.routers.marketplace-palacms-https-api.tls.certresolver=palacms
      - traefik.http.routers.marketplace-palacms-https-api.middlewares=marketplace-palacms-cors

      - traefik.http.middlewares.marketplace-palacms-redirect.redirectregex.regex=.*
      - traefik.http.middlewares.marketplace-palacms-redirect.redirectregex.replacement=https://palacms.com
      - traefik.http.middlewares.marketplace-palacms-cors.headers.accesscontrolallowmethods=*
      - traefik.http.middlewares.marketplace-palacms-cors.headers.accesscontrolallowheaders=*
      - traefik.http.middlewares.marketplace-palacms-cors.headers.accesscontrolalloworiginlist=*
      - traefik.http.middlewares.starter-palacms-csp.headers.contentsecuritypolicy=frame-ancestors *;

volumes:
  palacms-data:

networks:
  traefik-public:
    name: traefik-public
    external: true
